.fb-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    .fb-subcontainer {
        width: 128px;
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 8px;
        h1 {
            height: 20px;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            text-transform: uppercase;
            font-family: Roboto;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: -0.084px;
            line-height: 143%;
            font-style: normal;
        }
        button {
            padding: 0;
            width: 100%;
            height: 32px; 
            background-color: #006633;
            font-family: Roboto;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 14px;
            color: #ffffff;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            transition: 0.3s;
            border: 0px;
            .icon {
                margin-right: 4px;
                line-height: 32px;
            }
        } 
        button:disabled {
            background-color: #dadada;
            color: #bfbfbf;
        }
        button:not([disabled]):hover {
            cursor: pointer;
            background-color: #55ae3a;
        }
        button:not([disabled]):active {
            background-color: #363636;
        }
    }
}